<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Post</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.google.com/specimen/Hind" rel="stylesheet"> 
    <link href="https://fonts.google.com/specimen/Montserrat" rel="stylesheet"> 
</head>
<body>
    <div class="post">
        <img class="post__header-image" src="../images/header-image.jpg">
        <div class="post__icon"></div>
        <div class="post__info">
            <h3 class="topic_title">Adventures</h3>
            <h1 class="post_title">awesome Gallery Post</h1>
            <h3 class="post_date">January 19, 2016</h3>
        </div>
        <div class="post__button">
            <a>Read more</a>
        </div>
        <div class="post__comments">     
            <img class="comments-icon" src="../images/comments-icon.svg">
            <p class="comments">02 Comment</p>     
        </div>
    </div>
</body>
</html>