.post{
    width: 362px;
    height: 557px;
    box-shadow: 0 0 20px rgba(1, 1, 1, 0.5);
    position: relative;
    left:auto;
}

.post__header-image{
    width: 362px;
    height: 245px;
}

.post__icon{
    background: black url(../images/img-icon.svg) center no-repeat;
    width: 41px;
    height: 33px;
    top: 236px;
    left: calc(100%/2 - 20px);
    position: absolute;
    padding: 7px 7px;
    box-sizing: border-box; 

}

.header-img{
    width: 26px;
    height: 20px;
}

.post__info{
    margin-top: 66px;
    text-align: center;
    padding: 0;
}

.topic_title, .post_date, .comments{
    margin: 0;
    font-family: Hind;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
}

.post_title{
    margin: 10px 0;
    font-size: 20px;
    font-family: Montserrat;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #212121;
}

.post__button{
    position: relative;
    margin-top: 36px;
    text-align: center;
    padding: 0;
    font-family: Hind;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #999;
}

.post__button:before{
    position: absolute;
    border-top: 1px solid #d6d6d6;
    top:0;
    width: 30px;
    content: "";
    left: 160px;
}

.post__button:after{
    position: absolute;
    border-bottom: 1px solid #d6d6d6;
    top:100%;
    width: 30px;
    content: "";
    left: 160px;
}

.post__button:hover, .post__button:hover:before, .post__button:hover:after{
    color: #d67900;
    border-top-color: #d67900;
    border-bottom-color: #d67900;
}

.post__comments{
    border-top: 1px solid #f7f7f7;
    margin-top: 40px;
}

.comments-icon{
    display: inline-block;
    margin: 20px 0 20px 30px;

}

.comments{
    padding: 0;
    margin: 20px 0 20px 10px;
    display: inline-block;
    vertical-align: top;
}