.post{
    width: 362px;
    height: 557px;
    box-shadow: 0 0 20px rgba(1, 1, 1, 0.5);
    z-index: 1;
    position: absolute;
    left:auto;
}

.post__header{
    background-image: url(../images/header-img.png);
    height: 245px;
}

.post__icon{
    background-color: black;
    width: 41px;
    height: 33px;
    top: 236px;
    left: 167px;
    position: absolute;
    z-index: 2;
    padding: 7px 7px;
    box-sizing: border-box; 

}
.header-img{
    width: 26px;
    height: 20px;
}
.post__info{
    margin-top: 66px;
    text-align: center;
    padding: 0;
}

.topic_title, .post_date, .comments{
    margin: 0;
    font-family: Arial;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
}

.post_title{
    margin: 10px 0;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #212121;
}
.post__button{
    position: relative;
    margin-top: 36px;
    text-align: center;
    padding: 0;
    font-family: Arial;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #999;
}

.post__button:before{
    position: absolute;
    border-top: 1px solid #d6d6d6;
    top:0;
    width: 30px;
    content: "";
    left: 160px;
}
.post__button:after{
    position: absolute;
    border-bottom: 1px solid #d6d6d6;
    top:100%;
    width: 30px;
    content: "";
    left: 160px;
}
.post__button:hover, .post__button:hover:before, .post__button:hover:after{
    color: #d67900;
    border-top-color: #d67900;
    border-bottom-color: #d67900;
}

.post__comments{
    margin-top: 60px;
    margin-left: 30px;
}
.comments-icon{
    display: inline-block;
}

.comments{
    padding: 0;
    margin-left: 10px;
    display: inline-block;
}