body{
    margin: 0;
}
  
.header, .main{
    width: 1250px;
    margin: 0 auto; 
}

.header{
    padding: 120px 0 100px 0;
    border-bottom: 1px solid #dfe0e0;
}

.header__title{
    font-family: Arial;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    color: #1a1a1a;
    margin: 0;
}
.header__subtitle{
    font-family: Arial;
    font-size: 27px;
    font-weight: normal;
    color: #1a1a1a;
    margin: 10px 0 0 0;
}

.contacts{
    list-style: none;
    margin: 0;   
    padding: 0;
}

.header__contacts{
    margin-top: 30px;
}

.contacts__item{
    display: inline-block;
    margin-right: 10px;
    font-family: Arial;
    font-size: 17px;
}

.contact__link{
    color: #8c8c8c;
    text-decoration: none;
}

.main{
    padding: 40px 0 510px 0;
    font-size: 0;
}

.main__avatar{
    margin-bottom: 35px;
}

.main__general-info, .main__experience-info{
    display: inline-block;
    vertical-align: top;
}

.main__general-info{
    width: 425px;
}
.main__experience-info{
    width: 825px;
    box-sizing: border-box;
    padding-left: 65px;
}

.pesonal-info__title {
    display: inline-block;
    padding: 10px 35px;
    background-color: #f2d629;
    font-family: Arial;
    font-weight: bold;
    font-size: 23px;
    color:  #1a1a1a;
    margin: 0;
}

.personal-info__content, .personal-experience__list{
    margin-top: 35px;
}

.personal-info__text{
    font-family: Arial;
    font-size: 18px;
    color: #1a1a1a;
    margin: 0;
}

.text_bold{
    font-weight: bold;
}

.personal-experience__list{
    list-style: none;
    padding: 0;
}

.experience__item{
    padding-bottom: 65px;
}

.experience-dates{
    font-family: 'Gill Sans';
    font-size: 19px;
    color: #8c8c8c;
    margin: 0;
}

.experience-position{
    font-size: 19px;
    margin: 25px 0 0 0;
}

.company-info{
    padding: 0;
    display: inline-block;
    margin: 10px 10px 10px 0;
    font-family: Arial ;
    font-size: 19px;
    color: #1a1a1a;
}

.company__link{
    display: inline-block;
    text-decoration: none;
    color: #1a1a1a;
    font-size: 19px;
}

.description{
    font-family: Century Italic;
    font-size: 19px;
    margin: 25px 0 0 0;
    color: #8c8c8c;
}

.footer{
    height: 45px;
    background-color: #f2d629;
}

