body{
    margin: 0px;
}
  
.header, .main{
    width: 1250px;
    margin: 0 auto; 
}

.header{
    padding: 120px 0 100px 0;
    border-bottom: 1px solid #dfe0e0;
}

.header__title{
    font-family: Arial ;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    color: #1a1a1a;
    margin: 0px;
}

.header__subtitle{
    font-family: Arial;
    font-size: 27px;
    font-weight: normal;
    color: #1a1a1a;
    margin: 15px 0 0 0;
}

.contacts{
    list-style: none;
    margin: 0px;   
    padding: 0px;
}

.header__contacts{
    margin-top: 30px;
}

.contacts__item{
    display: inline-block;
    margin-right: 10px;
    font-family: Arial;
    font-size: 17px;
}

.contact__link{
    color: #8c8c8c;
    text-decoration: none;
}

.main{
    padding: 40px 0 510px 0;
    font-size: 0px;
}

.main__avatar{
    margin-bottom: 35px;
}

.main__left, .main__right{
    display: inline-block;
    vertical-align: top;
}

.main__left{
    width: 425px;
}

.main__right{
    width: 825px;
    box-sizing: border-box;
    padding-left: 65px;
}

.personal-info{}

.pesonal-info__title, .pesonal-experience__title{
    display: inline-block;
    padding: 10px 35px;
    background-color: #f2d629;
    font-family: Arial;
    font-weight: bold;
    font-size: 23px;
    color:  #1a1a1a;
    margin: 0px;
}

.personal-info__content, .personal-experience__list{
    margin-top: 35px;
}

.personal-info__text{
    font-family: Arial;
    font-size: 18px;
    color: #1a1a1a;
    margin: 0;
}

.text_bold{
    font-weight: bold;
}

.personal-experience{}

.personal-experience__list{
    list-style: none;
    padding: 0 0 0 0;
}

.experience__item{
    padding-bottom: 70px;
}

.experience-dates{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: #8c8c8c;
    margin: 0px;
}

.experience-position{
    font-size: 19px;
    margin: 25px 0 0 0;

}

.company-info{
    padding: 0px;
    margin-top: 0px;
}

.company__item{
    display: inline-block;
    margin: 10px 10px 10px 0;
    font-family: Arial ;
    font-size: 19px;
    color: #1a1a1a;
}

.company-name{
    margin: 0px;
}

.item-divide{
    margin: 0px;
}

.company__link{
    text-decoration: none;
    color: #1a1a1a;
}

.description{
    font-family: Century Italic;
    font-size: 19px;
    margin: 25px 0 0 0;
    color: #8c8c8c;
}

.footer{
    height: 45px;
    background-color: #f2d629;
}

