body{
    width: 1400px;
    height: 440px;
    background-color: #ffffff;
    margin: 0px;
    padding-top: 44px;
    padding-left: 79px;
    display: flex;
}
.your-picture{
    display: inline-block;
    width: 428px;
    height: 350px;
}
.personal-info{
    display: inline-block;
    width: 744px;
    margin-left: 61px;
    padding: 0px;
}
.about-me{
    box-sizing: border-box;
    background-color: #e8c734;
    width: 744px;
    padding: 14px 0 14px 37px;
    margin: 0;
    font-size: 23px;
    font-family: Arial;
}

.about-you{
    width: 743px;
    height: 79px;
    margin-top: 38px;
    font-size: 18px;
    font-family: Arial;
}

